<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
<!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">-->
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <title>パスワード変更</title>
</head>
<body>
<div class="position-fixed h-100 w-100 bg-secondary">
    <div class = "container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center mb-5">
                <h2 class="heading-section"></h2>
            </div>
            <div class="col-md-12 text-center mb-5">
                <h2 class="heading-section"></h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-7 col-lg-5">
                <div class="wrap">
                    <div class="login-wrap p-4 p-md-6 bg-light">
                        <div class="d-flex">
                            <div class="w-100">
                                <h3 class="mb-4 text-center">パスワード変更</h3>
                            </div>
                        </div>
                        <div th:if="${param.success}">
                            <div class="alert alert-info">
                                You've successfully change new password!
                            </div>
                        </div>
                        <div th:if="${error}">
                            <div class="alert alert-danger">
                                <span th:text="${error}"></span>
                            </div>
                        </div>
                        <form th:action="@{/registration/reset-password}" th:object="${passwordResetForm}" method="post">
                            <p class="error-message"
                               th:if="${#fields.hasGlobalErrors()}"
                               th:each="error : ${#fields.errors('global')}"
                               th:text="${error}">Validation error</p>
                            <input type="hidden" name="token" th:value="${token}"/>
                            <div class="form-group mt-3"
                                 th:classappend="${#fields.hasErrors('password')}? 'has-error':''">
                                    <label class="form-control-placeholder" for="password">パスワード</label>
                                    <input id="password"
                                           class="form-control"
                                           placeholder="パスワード"
                                           type="password"
                                           th:field="*{password}"/>
                                <p class="error-message"
                                   th:each="error: ${#fields.errors('password')}"
                                   th:text="${error}">Validation error</p>
                            </div>
                            <div class="form-group"
                                 th:classappend="${#fields.hasErrors('confirmPassword')}? 'has-error':''">
                                <label class="form-control-placeholder" for="confirmPassword">パスワード確認</label>
                                    <input id="confirmPassword"
                                           class="form-control"
                                           placeholder="パスワード確認"
                                           type="password"
                                           th:field="*{confirmPassword}"/>
                                </div>
                                <p class="error-message"
                                   th:each="error: ${#fields.errors('confirmPassword')}"
                                   th:text="${error}">Validation error</p>
                            <div class="form-group">
                                <button type="submit" class="form-control btn btn-primary rounded submit px-3">変更</button>
                            </div>
                            <div class="form-group d-md-flex">
                                <div class="w-100 text-md-center">
                                    <a th:href="@{/registration/login}">ログイン</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>