<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorator="layout">
<head>
    <title>Jewel Product Manager</title>
</head>
<body>
<section layout:fragment="content">
    <div class="row">
        <div th:with="data=${conditions}">
            <section  th:object="${data}" th:replace="common/select-css::select_fragment"/>
        </div>
        <div th:with="data=${operators}">
            <section  th:object="${data}" th:replace="common/select-css::select_fragment"/>
        </div>

    </div>
</section>
</body>
</html>
