<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorator="layout">
<head>
    <title>Jewel Product Manager</title>
</head>
<body>
<section layout:fragment="content">
    <form class="forms-sample form-inline" id="search_form" th:object="${filterJewelDTO}">
        <div class="row" th:object="${rowFilter}">
            <div class="col">
<!--                start loop -->
                <div class="row m-left-10x form-group-filter" th:each="item : ${rowFilter}" id="form_condition_root">
                    <div class="form-group row pb-2 select-w-312x" th:with="data=${item.selectors[0]}">
                        <section  th:object="${data}" th:replace="common/select-css::select_fragment"/>
                    </div>
                    <div class="form-group row pb-2 m-left-28x select-w-110" th:with="data=${item.selectors[1]}">
                        <section  th:object="${data}" th:replace="common/select-css::select_fragment"/>
                    </div>
                    <div class="form-group row pb-2 m-left-2 select-w-312x" th:with="data=${item.selectors[2]}">
                        <section  th:object="${data}" th:replace="common/select-css::select_fragment"/>
                    </div>
                    <div class="form-group row pb-2">
                        <button class="btn btn-dark m-left-btn-30x btn_remove" id="${item.isDefault} ? 'btn_clear' : ''">削除</button>
                    </div>
                </div>
                <div class="row m-left-10x" id="button-group">
                    <div class="form-group row pb-2">
                        <button class="btn btn-dark" th:onclick="'addConditions()'">検索条件を追加</button>
                    </div>
                    <div class="form-group row pb-2">
                        <button class="btn btn-dark m-left-2" id="btn_clear_all">クリア</button>
                    </div>
                    <div class="form-group row pb-2">
                        <button class="btn btn-dark m-left-2" id="btn_search">検索</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <link rel="stylesheet" th:href="@{/css/jewel-manager.css}">
</section>
</body>
</html>
