<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pagination</title>
</head>
<body>
<div class="justify-content-end" th:fragment="pagination(data, currentPage)">
    <div class="row mr-0 justify-content-end pr-0">
        <div class="mr-5 mt-2" style="font-size: 14px;">
        [[${data.totalElements}]]件
        </div>
        <ul class="pagination" th:if="${data.totalElements > 1}">
            <li class="page-item" th:classappend="${ currentPage != 1 ? '' : 'disabled'}">
                <a class="page-link" th:href="@{'?pageNumber=' + ${currentPage - 1}}">前のページ</a>
            </li>
            <th:block th:each="i: ${#numbers.sequence(1, data.totalPages)}">
                <li class="page-item" th:classappend="${ i == currentPage ? 'active' : '' }">
                    <a class="page-link" th:href="@{'?pageNumber=' + ${i}}" th:text="${i}"></a>
                </li>
            </th:block>
            <li class="page-item" th:classappend="${ currentPage != data.totalPages ? '' : 'disabled'}">
                <a class="page-link" th:href="@{'?pageNumber=' + ${currentPage + 1}}">次のページ</a>
            </li>
        </ul>
    </div>
<!--    </nav>-->
</div>
</body>
</html>